<p>
  <b>Descrption:</b>
  <%=h @order.descrption %>
</p>

<p>
  <b>Starts on:</b>
  <%=h @order.starts_on %>
</p>

<p>
  <b>Ends on:</b>
  <%=h @order.ends_on %>
</p>

<p>
  <b>Customer:</b>
  <%=h @order.customer_id %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
